<div class="navbar-top">
  <div class="navbar-container">
    <div class="d-flex ">
      <% if user_signed_in? %>
        <p><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-links" %></p>
      <% else %>
        <p><%= link_to "Login", new_user_session_path %></p>
      <% end %>
      <p><%= link_to "History", history_path, class: "navbar-links ml-3" %></p>
      <% Clothe::GENDER.each do |gender| %>
      <%= form_tag clothes_path, method: :get do %>
        <%= text_field_tag :genders,
        params[:genders],
        class: "d-none",
        value: gender %>
        <p><%= submit_tag gender, class: "search-category" %></p>
      <% end %>
    <% end %>
    </div>
    <div class="basket-icon">
      <% if current_user.present? %>
        <%= link_to new_basket_payment_path(@basket) do %>
          <i class="fas fa-shopping-basket">
          <% if @basket.transactions.count > 0 %>
            <p><%= @basket.transactions.count %></p>
          <% end %>
          </i>
        <% end %>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to "Add an Item", new_clothe_path, class: "main-button ml-3"  %>
      <% end %>
    </div>
  </div>

</div>
<div class="navbar-bottom">
  <div class= "navbar-title-container">
    <%= link_to "SAMMIES", "/" , class: "navbar-title" %>
    <div class="search-section">
      <%= form_tag clothes_path, method: :get, class: "search-box" do %>
        <%= text_field_tag :query,
          params[:query]
          %>
        <%= button_tag :submit do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="navbar-top">
  <div class="navbar-container">
    <% Clothe::CATEGORY.each do |category| %>
      <%= form_tag clothes_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "d-none",
        value: category %>
        <p><%= submit_tag category, class: "search-category" %></p>
      <% end %>
    <% end %>
  </div>
</div>
