<div class="navbar-top  navbar1 ">
  <div class="navbar-container">
    <div class="d-flex">
      <p><%= link_to "Home", "/" , class: "mr-3 home-button"%></p>
      <% if user_signed_in? %>
        <div class="dropdown">
          <button class="dropdown-toggle d-flex align-items-center" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <p>Account</p>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <p><%= link_to "History", history_path, class: "navbar-links" %></p>
            <p><%= link_to "Edit", edit_user_registration_path, class: "navbar-links" %></p>
            <p><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-links" %></p>
          </div>
        </div>
      <% else %>
        <p><%= link_to "Login", new_user_session_path, class: "navbar-links" %></p>
      <% end %>
    </div>


    <div class="basket-icon">
      <% Clothe::GENDER.each do |gender| %>
        <%= form_tag clothes_path, method: :get do %>
          <%= text_field_tag :genders,
          params[:genders],
          class: "d-none",
          value: gender %>
          <p><%= submit_tag gender, class: "navbar-links" %></p>
        <% end %>
      <% end %>
      <% if current_user.present? %>
        <%= link_to new_basket_payment_path(@basket) do %>
          <i class="fas fa-shopping-basket">
          <% if @basket.transactions.count > 0 %>
            <p><%= @basket.transactions.count %></p>
          <% end %>
          </i>
        <% end %>
        <% if current_user.admin? %>
          <p><%= link_to "Add an Item", new_clothe_path, class: "main-button ml-3"  %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="navbar-bottom">
  <div class= "navbar-title-container">
    <%= link_to "SAMMIES", "/" , class: "navbar-title" %>
  </div>
</div>

<div class="navbar-top navbar2 ">
  <div class="navbar-container">
    <div class="search-section">
      <%= form_tag clothes_path, method: :get, class: "search-box" do %>
        <%= text_field_tag :query
          %>
        <%= button_tag :submit, class: "search-btn" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
    <% Clothe::CATEGORY.each do |category| %>
      <%= form_tag clothes_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "d-none",
        value: category %>
        <p><%= submit_tag category, class: "navbar-links" %></p>
      <% end %>
    <% end %>
  </div>
</div>
