<div class="main-container">
  <h2>Search Results</h2>
  <div class="c-cards">
    <% @clothes.each do |clothe| %>
      <%= link_to clothe_path(clothe) do %>
        <div class="c-card">
          <div class="publish-statement">
            <% if clothe.publish %>
              <p>Published</p>
            <% else %>
              <p>Unpublished</p>
            <% end %>
          </div>
          <%= render "clothes/carousel", clothe: clothe %>
          <div class="colors-card">
            <% clothe.colors.each do |color| %>
              <div class="color-card" style="background-color: #<%= color.hex %>"></div>
            <% end %>
          </div>
          <div class="card-title">
            <%= clothe.name %>
          </div>
          <div class="card-description">
            <p><%= clothe.description.capitalize %></p>
            <p><%= humanized_money_with_symbol(clothe.price) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<p><%= @beers%></p>
