<div class="main-container">
  <div class="transaction-body">
    <div class="slider show-slick">
      <% @clothe.photos.each do |photo| %>
        <%= cl_image_tag photo.key, class: "show-img"  %>
      <% end %>
    </div>
    <div class="transaction-info">
      <h3><%= @clothe.name %></h3>
      <p><%= @clothe.description %></p>
      <div class="show-colors">
        <p>Available in: </p>
        <div class="show-colors-card">
          <% @clothe.colors.each do |color| %>
            <div class="show-color-card" style="background-color: #<%= color.hex%>">
              <p class="show-color-name"><%= color.name %></p>
            </div>
          <% end %>
        </div>
      </div>
      <p class="price"><strong>Price:</strong><%= humanized_money_with_symbol(@clothe.price) %></p>
      <%= render "transactions/form",transaction: @transaction, clothe: @clothe %>
      <% if current_user.present? && current_user.admin %>
        <%= link_to "Edit",edit_clothe_path(@clothe), class: "second-button"  %>
        <%= link_to "Delete",clothe_path(@clothe), method: :delete,
          data: { confirm: "Are you sure you want to delete this piece of clothe?" },
          class: "second-button"
          %>
      <% end %>
    </div>
  </div>
  <div class="clothe-details">
    <div id="detail-list">
      <h2>Details</h2>
      <% @clothe.details.each do |detail| %>
        <%= render "details/show", detail: detail, clothe: @clothe  %>
      <% end %>
    </div>
    <% if current_user.present? && current_user.admin %>
      <%= render "details/form", clothe: @clothe, detail: @detail %>
      <% end %>
  </div>
</div>
