<div class="main-banner">
</div>
<div class="main-container">
  <div class="c-cards">
    <% @clothes.each do |clothe| %>
      <%= link_to clothe_path(clothe) do  %>
        <div class="c-card">
          <% clothe.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class: 'card-img' %>
          <% end %>
          <div class="card-title">
            <%= clothe.name %>
          </div>
          <div class="card-description">
            <p><%= clothe.description.capitalize %></p>
            <p>$<%= clothe.price %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
