<div class="main-container">
  <table class="payment-table">
    <thead>
      <tr>
        <th><p>Image</p></th>
        <th><p>Name</p></th>
        <th><p>Description</p></th>
        <th><p>Quantity</p></th>
        <th><p>Price</p></th>
        <th><p>Total</p></th>
        <th><p>Options</p></th>
      </tr>
    </thead>

    <tbody>
      <% @basket.transactions.each do |transaction| %>
          <tr>
            <td><%= cl_image_tag transaction.clothe.photos.first.key %></td>
            <td><p><%= transaction.clothe.name %></p></td>
            <td><p><%= transaction.clothe.description %></p></td>
            <td><%= render "payments/update", transaction: transaction %></td>
            <td><p><%= humanized_money_with_symbol transaction.clothe.price %></p></td>
            <td><p><%= humanized_money_with_symbol transaction.total %></p></td>
            <td><%= render "payments/delete", transaction: transaction%></td>
          </tr>
      <% end %>
    </tbody>

      <tfoot>
        <tr class="total-table"><td colspan="8"><p>Total: <%= humanized_money_with_symbol(@basket.total) %></p></td></tr>
      </tfoot>

  </table>

    <% if @basket.transactions.count > 0 %>
      <button id="pay" class="btn btn-primary">Pay</button>
      <!-- # Commented for the lecture, remove comments. -->
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @basket.checkout_session_id %>'
          });
        });
      </script>
    <% end %>
</div>
